.Modal-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #ce9d33;
  gap: 20px;
}

.rs-theme-dark .Modal-body {
  background-color: #ce9d33;
}

.rs-theme-dark .modal-backdrop {
  background-color: #ce9d33;
}

.rs-theme-light .Modal-body {
  background-color: #e7c556;
}

.rs-theme-light .modal-backdrop {
  background-color: #e7c556;
}
